/*-- scss:defaults --*/

// Colors
$primary: #3D4EAF;
$secondary: #7bc0bc;
$highlight: #fdfb3d;
$dark: #282A35;
$light: #f8f8f2;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Text
$font-family-sans-serif: Roboto, sans-serif;
$link-color: $secondary;
$link-hover-color: $highlight;

// Page
$body-bg: $dark;
$body-fg: $light;

// Navigation
$navbar-bg: $primary;
$navbar-fg: $light;

/*-- scss:rules --*/

// Don't underline icons that are links
.icon {
  text-decoration: none;
}

// Headshot photos for people page

// Standardize all photos to 150x150 squares
.avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover
}

// Use border radius to crop the photo to a circle
.avatar-circle {
    border-radius: 50%
}

// Cards for projects page

// Add padding around content within card
.card {
  padding: 1em;
}

// Reduce extra spacing above card title
.card-title {
  margin-top: -2em;
}

// Add spacing between columns of cards
.card-group {
  gap: 1em;
}
