/*-- scss:defaults --*/

// darkly bootswatch variables: https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/darkly.scss

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-family-sans-serif: Roboto, sans-serif;

// Set color variables
$primary: #3D4EAF;
$secondary: #7bc0bc;
$highlight: #fdfb3d;
$dark: #282A35;
$light: #f8f8f2;

// Link colors
$link-color: $secondary;
$link-hover-color: $highlight;

// Page body colors
$body-bg: $dark;
$body-fg: $light;

// Navigation bar colors
$navbar-bg: $primary;
$navbar-fg: $light;

/*-- scss:rules --*/

/// Don't underline icons that are links (important for Group Members page)
.icon {
  text-decoration: none;
}

/// Group Members page: headshot photos

// Standardize all photos to 150x150 squares
.avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover
}

// Use border radius to crop the photo to a circle
.avatar-circle {
    border-radius: 50%
}

/// Projects page: cards

// Add padding around content within card
.card {
  padding: 1em;
}

// Reduce extra spacing above card title
.card-title {
  margin-top: -2em;
}

// Add spacing between columns of cards
.card-group {
  gap: 1em;
}

/// Inline code
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    color: lighten($secondary, 5);
    background-color: lighten($dark, 20);
    padding: .2em;
}